body {
    background-color: #1e1e1e;
    color: #00ff00;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard {
    width: 95%; /* Increased width */
    max-width: 1400px; /* Increased max-width */
    padding: 20px;
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.dashboard-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.date-picker, .time-picker {
    background-color: #333;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

.arrow {
    margin: 0 10px;
}

.metric-select {
    margin-bottom: 20px;
}

.fetch-button, .live-button {
    background-color: #333;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
}

.fetch-button:hover, .live-button:hover {
    background-color: #444;
}

.live-button.active {
    background-color: #ff0000;
    color: #fff;
}

.error {
    color: #ff0000;
    margin-top: 20px;
    text-align: center;
}
